
.subscribe-button{
    background-color: rgb(184, 1, 1);
    color: white;
    border: none;
    height: 35px;
    width: 110px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
}

.join-button{
    background-color: rgb(240, 237, 237);
    color: rgb(68, 68, 255);
    border-color: rgb(68, 68, 255);
    border-style: solid;
    border-width: 1px;
    height: 35px;
    width: 60px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
}

.Tweet{
    color: white;
    background-color: rgb(50, 155, 216);
    border-radius: 15px;
    border: none;
    height: 30px;
    width: 60px;
    cursor:pointer;
    font-weight: bold;
    font-size: 15px;
}